@charset "UTF-8";
@import '@bcgov/design-tokens/css-prefixed/variables';
  
#main {
  margin-top: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  color: #494949
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width:576px){
  .MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }  
}


/** Overriding Met table styles **/
// set background color of tr to white
.MuiTable-root tbody > tr.MuiTableRow {
  background-color: var(--bcds-surface-background-white);
}
// set background color of tr on hover to light gray
tbody.MuiTableBody-root > tr.MuiTableRow-hover:hover {
  background-color: var(--bcds-surface-secondary-hover);
}