@charset "UTF-8";

.logo {
    height: 1.9em;
}

.text-blue {
    color: #127abf;
}

.text-green {
    color: #449414;
}

.hero-image {
    display: inline;
    height: 2em;
}

#main {
    margin-top: 10px;
}

.MuiButton-root {
    text-transform: none;
}
