@font-face {
  font-family: "BCSans-Bold";
  src: local("BCSans-Bold"),
    url("./assets/fonts/BC_Sans/bc-sans-font-all/BC-Sans-Font-all/BCSans-Bold.woff")
      format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "BCSans-Regular";
  src: local("BCSans-Regular"),
    url("./assets/fonts/BC_Sans/bc-sans-font-all/BC-Sans-Font-all/BCSans-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "BCSans-Italic";
  src: local("BCSans-Italic"),
    url("./assets/fonts/BC_Sans/bc-sans-font-all/BC-Sans-Font-all/BCSans-Italic.woff")
      format("woff");
}

body {
  margin: 0;
  // font-family: "BCSans-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
