version: "3.5"
services:
  metdb:
    container_name: metdb
    image: postgres:latest
    command: postgres -c 'max_connections=500'
    ports:
      - "5432:5432"
    env_file:
      - ./postgres.env
    restart: unless-stopped
    volumes:
      - ./backups:/backups
      - ./scripts:/scripts
      - metdb:/var/lib/postgresql/data
      - ./init://docker-entrypoint-initdb.d
volumes:
  metdb:
    name: metdb.local
