alembic==1.13.1
aniso8601==9.0.1
apispec==6.6.1
attrs==23.2.0
click==8.1.7
flasgger==0.9.5
Flask==2.2.5
flask-marshmallow==1.0.0
Flask-Migrate==2.7.0
Flask-Script==2.0.5
flask-restplus==0.13.0
Flask-SQLAlchemy==3.0.5
greenlet==3.0.3
itsdangerous==2.0.1
Jinja2==3.1.3
jsonschema==4.21.1
Mako==1.3.3
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
mistune==2.0.3
psycopg2-binary==2.9.9
PyJWT==2.4.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==1.0.1
python-editor==1.0.4
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
SQLAlchemy==1.4.52
Werkzeug==2.3.8
flask_mail==0.9.1
flask_restx
secure==0.3.0
flask-cors==3.0.10
flask_jwt_oidc==0.3.0
pyhumps==1.6.1
pylint==3.1.0
aws-requests-auth
requests==2.31.0
awesome-slugify==1.6.5