<h1>Thank you for your interest in sharing your thoughts about {{ engagement_name }}.</h1>
<p>Please click the link below to access the survey and share your comments. <strong>This link will expire in 24h.</strong></p>
<br />
<a href='{{ survey_url }}'>Access Survey</a>
<br />
<p>You can view the survey results anytime <a href='{{ engagement_url }}'>here</a>.<p>
<p>The comments will be available for viewing when the Engagement period is over, starting on {{ end_date }}.</p>
<br />
<p>Thank you,</p>
<br />
<p>The EAO Team</p>