<h1>Thank you for sharing your feedback about {{ engagement_name }}.</h1>
<p>Please click the link below to provide your feedback. <strong>This link will expire in 24 hours and is only valid once</strong>.</p>
<p>If the link has expired, you can request access again at <a href='{{ engagement_url }}'>{{ engagement_url }}</a>.</p>
<br />
<p>Click here to <a href='{{ survey_url }}'>provide your feedback</a>.</p>
<br />
<p>Written public feedback will be posted as soon as it is reviewed and approved (within 7 days), and can be viewed anytime <a href='{{ engagement_url }}'>here</a>.<p>
<p>A report will be available after the public comment period is over, starting on {{ end_date }}.</p>
<br />
<p>Thank you,</p>
<br />
<p>The Environmental Assessment Office Team</p>