.met-button {
    align-items: center;
    appearance: none;
    background-color: rgb(0, 51, 102);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: BCSans, "Noto Sans", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    min-width: 64px;
    outline: none;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
}

