<h1>Thank you for taking the time to provide your feedback on {{ engagement_name }}.</h1>
<p>We have reviewed your feedback and can't accept it for the following reason(s):</p>
<br />
<p>Your feedback contained:</p>
<br>
<ul>
    {% if has_personal_info %}
    <li>One or many of your comments contain personal information such as name, address, or other information that could identify you.</li>
    {% endif %}
    {% if has_profanity %}
    <li>One or many of your comments contain swear words or profanities.</li>
    {% endif %}
    {% if has_other_reason %}
    <li>One or many of your comments can't be published because of {{ other_reason }}.</li>
    {% endif %}
</ul>
<br />
<p>Your comments will still be taken in consideration and send to the proponent for consideration but won't appear on our website.<p>
<br />
<p>Thank you,</p>
<br />
<p>The Team at the Environmental Assessment Office</p>