<link rel="stylesheet" href="email_template.css">

<h1>Thank you for taking the time to provide your feedback on {{ engagement_name }}.</h1>
<br />
<p>We have reviewed your feedback and can't accept it for the following reason(s):</p>
<br>
<ul>
  {% if has_personal_info %}
  <li>
    Your feedback contains personal information
  </li>
  {% endif %} {% if has_profanity %}
  <li> Your feedback contains profanity or innapropriate language</li>
  {% endif %} {% if has_other_reason %}
  <li>
   Your feedback contains {{ other_reason
    }}
  </li>
  {% endif %}
</ul>
<br />
<p>You can edit and re-submit your feedback.</p>
<p>
  The comment period is open until {{ end_date }}. You must re-submit
  your feedback before the comment period closes.
</p>
<br />
<button class="met-button" onclick="location.href='{{ submission_url }}';">Edit Feedback</button>
<br />
<p>Thank you,</p>
<br />
<p>The {{tenant_name}} Team</p>
