<h1>The public comment period for {{ project_name }} will close on {{ end_date }} at midnight, Pacific time.</h1>
<br />
<p>If you would like to provide your feedback, please do so before the date noted above.</p>
<br />
<p>If you have already provided feedback, thank you! You may ignore this email.</p>
<br />
<p><a href="{{ survey_url }}">Provide Your Feedback</a></p>
<br />
<p>Thank you,</p>
<br />
<p>The {{ tenant_name }} Team</p>
<br />
<p>If you would no longer like to receive updates from us, you may <a href='{{ unsubscribe_url }}'>unsubscribe</a>.</p>
<br />
<p>{{email_environment}}</p>
