<p>
  Thank you for submitting your feedback. Written comments will be reviewed and
  published within 7 days. Comments that contain personal information will not
  be published, and you will be contacted to amend your response. You can view
  written public feedback that has been submitted and reviewed thus far by
  clicking the link below.
</p>
<br />
<a href="{{ engagement_url }}">Access Public Feedback</a>
<br />
<p>
  Some feedback may be withheld until the end of the public comment period to
  ensure the integrity of the responses. All feedback relevant to the assessment
  of the project will be available at the end of the public comment period, on
  {{engagement_end_date}}. You will receive an email inviting you to view the full
  results around {{engagement_time}} the day after the engagement closes.
</p>
<br />
<p>Thank you,</p>
<br />
<p>The {{tenant_name}} Team</p>
<br />
<p>{{email_environment}}</p>
