dagster==1.7.15
dagit==1.7.15
dagster-docker==0.23.15
SQLAlchemy-Utils==0.38.3
SQLAlchemy==1.4.52
packaging==21.3
python-dotenv==0.21.0
pytz==2022.5
-e git+https://github.com/bcgov/met-public.git#egg=met-api&subdirectory=met-api
-e git+https://github.com/bcgov/met-public.git#egg=analytics-api&subdirectory=analytics-api