dagster
dagit
dagster-docker
Flask-Cors==3.0.10
Flask-Migrate==2.7.0
Flask-Moment==1.0.5
Flask-SQLAlchemy==3.0.5
Flask==2.2.5
SQLAlchemy-Utils==0.41.2
SQLAlchemy==1.4.52
Werkzeug==2.3.8
flask-marshmallow==1.0.0
flask-restx==1.3.0
marshmallow-sqlalchemy==1.0.0
marshmallow==3.21.1
packaging==24.0
python-dotenv==1.0.1
pytz==2024.1
-e git+https://github.com/bcgov/met-public.git#egg=met-api&subdirectory=met-api
-e git+https://github.com/bcgov/met-public.git#egg=analytics-api&subdirectory=analytics-api
