Flask-Caching==2.3.1
Flask-Mail==0.10.0
Flask-Migrate==2.7.0
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.0.5
Flask-Script==2.0.5
Flask==3.1.3
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.3
PyJWT==2.12.1
SQLAlchemy-Utils==0.42.1
SQLAlchemy==1.4.52
Werkzeug==3.1.7
alembic==1.18.4
aniso8601==10.0.1
attrs==26.1.0
backports-datetime-fromisoformat==2.0.3
bcrypt==5.0.0
blinker==1.9.0
cachelib==0.13.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cryptography==46.0.6
flask-cors==6.0.1
flask-jwt-oidc==0.9.0
flask-marshmallow==1.0.0
flask-restx==1.3.2
greenlet==3.3.2
gunicorn==25.3.0
idna==3.11
importlib_resources==6.5.2
itsdangerous==2.2.0
jaeger-client==4.8.0
jsonschema-specifications==2025.9.1
jsonschema==4.26.0
marshmallow-sqlalchemy==1.0.0
marshmallow==4.2.3
opentracing==2.4.0
packaging==26.0
psycopg2-binary==2.9.11
pycparser==3.0
python-dotenv==1.2.2
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
secure==1.0.1
threadloop==1.0.2
thrift==0.22.0
tomli==2.4.1
tornado==6.5.5
typing_extensions==4.15.0
urllib3==2.6.3
-e git+https://github.com/bcgov/dep-public.git#egg=api&subdirectory=api