# Default values for db chart
# This file contains values for the backup deployment and can be overridden per environment

app:
  name: engagement-db
  licenseplate: "e903c2"

db:
  allowIngressPodselectors:
    # Allow Patroni peer traffic within the cluster
    - app.kubernetes.io/instance: engagement-db
      app.kubernetes.io/name: patroni
      cluster-name: engagement-db
    - app.kubernetes.io/instance: dagster
      component: user-deployments
    - app.kubernetes.io/instance: dagster
      component: dagster-daemon
    - app.kubernetes.io/instance: dagster
      component: dagster-webserver
    - app: analytics-api
      role: api
    - app-group: met-app
      role: worker
    - app: met-api
      role: api
    - app: met-api
      role: cron
    - app: engagement-db
      role: backup

backup:
  role: backup
  enabled: true
  image:
    repository: "ghcr.io"
    namespace: bcgov
    name: backup-container
    tag: latest
  storage:
    size: 2Gi
    accessModes:
      - ReadWriteOnce
    storageClassName: "netapp-file-backup"
  verification:
    enabled: true
    storageSize: 3Gi
    storageClass: "netapp-file-standard"
    mountPath: "/var/lib/pgsql/data"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
      ephemeralStorage: 2Gi
    limits:
      cpu: 500m
      memory: 512Mi
      ephemeralStorage: 2Gi
  dbName: met
  strategy: rolling
  schema: met
  databaseName: app
  mountPath: "/backups/"
  environment: dev
  environmentFriendlyName: Development

vault:
  namespace: platform-services
  authPath: auth/k8s-gold
  engine: e903c2-nonprod

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

postgres:
  enabled: true
  nameOverride: patroni
  fullnameOverride: engagement-patroni
  networkPolicy:
    enabled: false # We manage our own network policies
  replicaCount: 3
  image:
    repository: artifacts.developer.gov.bc.ca/bcgov-docker-local
    name: patroni-postgres
    tag: 2.0.1-12.4-latest
    pullPolicy: Always
  serviceAccount:
    create: true
    name: engagement-patroni
  podAntiAffinity: true
  podAnnotations: {}
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 256Mi
  persistentVolume:
    enabled: true
    accessModes:
      - ReadWriteOnce
    annotations: {}
    mountPath: /home/postgres/pgdata
    size: 2Gi
    storageClass: netapp-block-standard
