.rdw-option-active {
    box-shadow: 1px 1px 0px #bfbdbd inset !important;
}

.subscribeOptions-editor-wrapper
    > .rdw-editor-wrapper
    > .rdw-editor-main
    > .DraftEditor-root
    > .DraftEditor-editorContainer
    > .public-DraftEditor-content {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 100% !important;
    max-height: 90px;
}
