ENGAGEMENT_DB_USER=
ENGAGEMENT_DB_PASSWORD=engagement
ENGAGEMENT_DB_DB=engagement
ENGAGEMENT_DB_HOST=localhost
ENGAGEMENT_DB_PORT=5432
ANALYTICS_DB_USER=analytics
ANALYTICS_DB_PASSWORD=analytics
ANALYTICS_DB_DB=engagement
ANALYTICS_DB_HOST=localhost
ANALYTICS_DB_PORT=5432
DAGSTER_POSTGRES_USER=dagster
DAGSTER_POSTGRES_PASSWORD=
DAGSTER_POSTGRES_DB=engagement
DAGSTER_POSTGRES_HOSTNAME=dep-db
DAGSTER_POSTGRES_PORT=5432