@bcgov-artifactory:registry=https://artifacts.developer.gov.bc.ca/artifactory/api/npm/ee90-font-awesome-pro-dev/
# Local development: use the following command
# npm login --registry=https://artifacts.developer.gov.bc.ca/artifactory/api/npm/ee90-font-awesome-pro-dev/ --auth-type=web --scope=@bcgov-artifactory
//artifacts.developer.gov.bc.ca/artifactory/api/npm/ee90-font-awesome-pro-dev/:username=${ARTIFACTORY_USERNAME}
# Note that NPM expects a base 64 encoded password and will attempt to decode it
//artifacts.developer.gov.bc.ca/artifactory/api/npm/ee90-font-awesome-pro-dev/:_password=${ARTIFACTORY_PASSWORD}
