# Keycloak auth endpoint
REACT_APP_KEYCLOAK_URL=https://dev.loginproxy.gov.bc.ca/auth
REACT_APP_KEYCLOAK_REALM=standard

# Resource identifier for the Keycloak client
REACT_APP_KEYCLOAK_CLIENT=modern-engagement-tools-4787

# The role needed to be considered an admin
# TODO: Allocate a dedicated role for this on SSO
REACT_APP_KEYCLOAK_ADMIN_ROLE=create_tenant

# `met-api` endpoint
REACT_APP_API_URL=http://localhost:5000/api

# `analytics-api` endpoint
REACT_APP_ANALYTICS_API_URL=http://localhost:5001/api
# Default tenant to assign when signing in for the first time
REACT_APP_DEFAULT_TENANT=eao

# Whether to skip certain auth checks. Should be false in production.
# Must match the value set for IS_SINGLE_TENANT_ENVIRONMENT in the API.
REACT_APP_IS_SINGLE_TENANT_ENVIRONMENT=false